body{
    background-color: #a73838;
    font: 8pt Tahoma,Verdana;
    color: #000000;
}

.container{
    width: 980px; height: 650px; margin: 10px auto; border:3px dashed #bd652b;  padding:20px 0 20px 40px;
}
section{
    width: 450px;
    height: 220px;
    float:left;
    margin: 0 40px 60px 0;
}
aside{
    width: 450px;
    height: 120px;
    float:left;
    margin: 0 40px 60px 0;
}
footer{
    width: 500px;
    height: 100px;
    float: left;
}
.baslikkutu{
    width:450px;
    padding:0 0 10px 0;
    margin: 0 0 15px 0;
    border-bottom: 2px solid #0e0708;
    color: #02060a;
    font:bold 19px tahoma;
}
section input,aside input{
    width: 300px;
    padding: 5px;
    border:1px dashed #a0a0a0;
    color: #104579;
    font-size: 14px;

}
tr{
    margin:20px;
    padding:10px;
    font-size: 15px;
    
}
ul{
    margin:20px;
    padding:10px;
    font-size:15px;
}